{% extends 'base.html.twig' %}

{% block title %}Courcaillez ! - Connexion{% endblock %}

{% block body %}

    <div class="cntnr">

        <h1 class="text-center">Courcailler</h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="cntnr">
        <h3 id="cnxTitle" class="">Connectez-vous !</h3>
        <div class="login">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="flex">
                        Re-bonjour {{ app.user.username }} !
                    </div>
                {% endif %}
                <div>
                    <label for="inputEmail" >Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword" class="sr-only">Mot de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="flex">
                    <button class="button" type="submit" name="submit">Se connecter</button>
                </div>
            </form>
            <div class="flex">
                <button class="button" type="submit"><a href="{{ path('forgot-password') }}">Mot de passe oublié ?</a></button>
                <button class="button" type="submit"><a href="{{ path('app_register')}}">Pas encore inscrit ?</a></button>
            </div>

        </div>

    </div>
{% endblock %}