{% extends 'base.html.twig' %}

{% block title %}Courcaillez ! - Mot de passe oublié{% endblock %}

{% block body %}

    <div class="cntnr">

        <h1 class="text-center">Courcailler</h1>
    </div>
    <div class="cntnr">
        <h3 id="cnxTitle" class="">Réinitialiser mon mot de passe</h3>
        <div class="login">
            {{ form_start(form) }}
            <div>
                {{ form_widget(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
            </div>
            <div class="flex">
                <button class="button" type="submit" name="submit">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="flex">
            <button class ="button" type="submit"><a href="{{ path('app_login') }}">Retour à la page de connexion</a></button>
        </div>
    </div>
{% endblock %}