{% extends 'base.html.twig' %}
{% block title %}
    Enregistrez-vous sur Courcailler
{% endblock %}
{% block body %}
    <div class="ctnr">
        <h3 id="cnxTitle" class="">Inscrivez-vous !</h3>
        <div class="login">
            {{ form_start(registrationForm) }}
            <div>
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo) }}
                {{ form_errors(registrationForm.pseudo) }}

            </div>
            <div>
                {{ form_label(registrationForm.firstname) }}
                {{ form_widget(registrationForm.firstname) }}
                {{ form_errors(registrationForm.firstname) }}
            </div>
            <div>
                {{ form_label(registrationForm.name) }}
                {{ form_widget(registrationForm.name) }}
                {{ form_errors(registrationForm.name) }}
            </div>
            <div>
                {{ form_label(registrationForm.birthday) }}
                {{ form_widget(registrationForm.birthday) }}
                {{ form_errors(registrationForm.birthday) }}
            </div>
            <div>
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div>
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
            <div>
                {{ form_label(registrationForm.avatarFile) }}
                {{ form_widget(registrationForm.avatarFile) }}
                {{ form_errors(registrationForm.avatarFile) }}
            </div>
            <div>
                <p>
                    <label>
                        {{ form_widget(registrationForm.agreeTerms) }}
                        <span>Acceptez nos conditions d'utilisation</span>
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </label>
                </p>
            </div>
            <div class="flex">
                <button class ="button" type="submit">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
        <div class="flex">
            <button class ="button" type="submit"><a href="{{ path('app_login') }}">Retour à la page de connexion</a></button>
        </div>
    </div>
{% endblock %}
