{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    {% include 'tpl-part/header.html.twig' %}
    <div class="ctnr">
        <h3 id="cnxTitle" class="">Modifier mes informations</h3>
        <div class="login">
            {{ form_start(form) }}
            <div>
                {{ form_label(form.pseudo) }} | {{ app.user.pseudo }}
                {{ form_widget(form.pseudo) }}
                {{ form_errors(form.pseudo) }}
            </div>
            <div>
                {{ form_label(form.firstname) }} | {{ app.user.firstname }}
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div>
                {{ form_label(form.name) }} | {{ app.user.name }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div>
                {{ form_label(form.birthday) }} | {{ app.user.birthday|date("m/d/Y") }}
                {{ form_widget(form.birthday) }}
                {{ form_errors(form.birthday) }}
            </div>
            <div>
                {{ form_label(form.email) }} | {{ app.user.email }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
            </div>
            <div>
                {{ form_label(form.avatarFile) }}
                {{ form_widget(form.avatarFile) }}
                {{ form_errors(form.avatarFile) }}
            </div>
            <div class="flex">
                <button class ="button" type="submit">Modifier mon profil</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include 'tpl-part/footer.html.twig' %}
{% endblock %}