{% extends 'base.html.twig' %}

{% block title %}#hashtag{% endblock %}

{% block body %}
    {% include 'tpl-part/header.html.twig' %}
    <div class="ctnr">
        <div class="flex bg-color">
            <h5 class="">#{{ tag }} | {{ 'courcaillet_published'|trans({'nb': tagCount}, 'messages') }}</h5>
        </div>
        <div class="flex">
            {% include 'tpl-part/courcailler.html.twig' %}
        </div>
        {# display navigation #}
        <div class="pagination flex">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% include 'tpl-part/footer.html.twig' %}
{% endblock %}