{% extends 'base.html.twig' %}

{% block title %}Mon profil : {{ app.user.pseudo }} {% endblock %}

    {% block body %}
        {% include 'tpl-part/header.html.twig' %}

        <div class="ctnr">
            <!-- Modal Structure -->
            <div id="delete-profile" class="modal padding">
                <div class="modal-content">
                    <h5 class="text-center">Êtes vous sûr de vouloir supprimer votre profil ?</h5>
                    <p class="text-center">Cette action sera définitive ! Elle supprimera votre profil et vos publications.</p>
                </div>
                <div class="flex">
                    <a href="{{ path('delete-profile', {'userId': app.user.id}) }}" class="btn-suppr">Supprimez mon profil bon sang !</a>
                </div>
            </div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header waves-effect waves-yellow"><i class="material-icons">face</i>Mes infos</div>
                    <div class="collapsible-body text-center">
                        <p>
                            Mon pseudo : {{ app.user.pseudo }}
                        </p>
                        <p>
                            Mon email : {{ app.user.email }}
                        </p>
                        <p class="">
                            Date de naissance : {{ app.user.birthday|date("d/m/Y") }}
                        </p>
                        <p class="">
                            Date d'inscription : {{ app.user.registerDate|date("m/d/Y") }}
                        </p>
                        <button class="button" type="submit"><a href="{{ path('editprofile') }}"><i class="material-icons">edit</i>Modifier mon profil</a></button>
                        <!-- Modal Trigger -->
                        <a class="btn-suppr modal-trigger" href="#delete-profile">Supprimer mon profil</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-yellow"><i class="material-icons">add</i><i class="material-icons">message</i>Ajouter un courcaillet</div>
                    <div class="collapsible-body bg-color">
                        <div class="">
                            {{ form_start(form) }}
                            <div>
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                                {{ form_errors(form.content) }}
                                <p><span id="ccContentCount">0</span> / 140 caractères</p>
                            </div>
                            <div>
                                {{ form_label(form.mention) }}
                                <div id="mentionsAutocomplete" class="chips chips-autocomplete"></div>
                                {{ form_widget(form.mention) }}
                                {{ form_errors(form.mention) }}
                            </div>
                            <div id="mentionSuggest" class="hide">

                            </div>
                            <div>
                                {{ form_label(form.hashtags) }}
                                {{ form_widget(form.hashtags) }}
                                {{ form_errors(form.hashtags) }}
                            </div>
                            <div class="flex">
                                <button class ="button" type="submit">Publier</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </li>
                {% if (app.user.getFollowing|length > 0 or app.user.getFollowers|length > 0) %}
                    <li>
                        <div class="collapsible-header waves-effect waves-yellow"><i class="material-icons">group</i>Cailles suivies | Cailles qui vous suivent</div>
                        <div class="collapsible-body row">
                            {% if app.user.getFollowing|length > 0 %}
                                <div class="col s6">
                                    <p>Cailles suivies </p>
                                    {% for person in app.user.getFollowing %}
                                        <div class="chip">
                                            <img src="{{ vich_uploader_asset( person, 'avatarFile' ) }}" alt="Contact Person">
                                            <a href="{{ path('profile', { id: person.id }) }}">@ {{ person.pseudo }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.user.getFollowers|length > 0 %}
                                <div class="col s6">
                                    <p>Cailles qui vous suivent</p>
                                    {% for person in app.user.getFollowers %}
                                        <div class="chip">
                                            <img src="{{ vich_uploader_asset( person, 'avatarFile' ) }}" alt="Contact Person">
                                            <a href="{{ path('profile', { id: person.id }) }}">@ {{ person.pseudo }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>
            <h4 class="text-center">{{ 'courcaillet_published'|trans({'nb': nbCourcaillets}, 'messages') }}</h4>
            <div class="flex">
                {% include 'tpl-part/courcaillerNoUserName.html.twig' %}
            </div>
            {# display navigation #}
            <div class="pagination flex">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('myprofile') }}
    {% include 'tpl-part/footer.html.twig' %}
{% endblock %}