{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.pseudo }}{% endblock %}

{% block body %}
    {% include 'tpl-part/header.html.twig' %}

    <div class="ctnr">

        <div class="flex bg-color">
            <img class="profilPic" src="{{ vich_uploader_asset( user, 'avatarFile' ) | imagine_filter('avatar') }}">
            <h5 class="">@{{ user.pseudo }}</h5>
            <div>
                <p class="">
                    Nombre de courcaillets : {{ nbCourcaillets }}

                </p>
                <p class="">
                    Date de naissance : {{ user.birthday|date("d/m/Y") }}
                </p>
                <p class="">
                    Date d'inscription : {{ user.registerDate|date("m/d/Y") }}
                </p>
            </div>
            {% if connectedUserIsFollowing %}
                <p>Ne plus suivre
                    <a class="btn-floating red darken-4 waves-red" href="{{ path('unfollow', { userId: user.id}) }}">
                        <i class="material-icons">visibility_off</i>
                    </a>
                </p>
            {% else %}
                <p>Suivre
                    <a class="btn-floating light-green lighten-1 waves-green" href="{{ path('follow', { userId: user.id}) }}">
                        <i class="material-icons">visibility</i>
                    </a>
                </p>
            {% endif %}
        </div>
        {% if (user.getFollowing|length > 0 or user.getFollowers|length > 0) %}
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header waves-effect waves-yellow"><i class="material-icons">group</i></div>
                    <div class="collapsible-body row">

                        {% if user.getFollowing|length > 0 %}
                            <div class="col s6">
                                <p>Cailles suivies </p>
                                {% for person in user.getFollowing %}
                                    <div class="chip">
                                        <img src="{{ vich_uploader_asset( person, 'avatarFile' ) }}" alt="Contact Person">
                                        <a href="{{ path('profile', { id: person.id }) }}">@ {{ person.pseudo }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if user.getFollowers|length > 0 %}
                            <div class="col s6">
                                <p>Cailles qui suivent {{ user.pseudo }}</p>
                                {% for person in user.getFollowers %}
                                    <div class="chip">
                                        <img src="{{ vich_uploader_asset( person, 'avatarFile' ) }}" alt="Contact Person">
                                        <a href="{{ path('profile', { id: person.id }) }}">@ {{ person.pseudo }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </li>
            </ul>
        {% endif %}
        <div class="flex">
            {% include 'tpl-part/courcaillerNoUserName.html.twig' %}
        </div>
        {# display navigation #}
        <div class="pagination flex">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% include 'tpl-part/footer.html.twig' %}
{% endblock %}