{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="ctnr">
        <h3>Courcaillez ! - Projet d'exercice de développement</h3>
        <p class="text-center">
            Créé par Syriane Bonjean <br>
            38420 Murianette<br>
            France<br>
            Tél. : + 33 (0)6 72 68 10 21<br>
            <a href="https://syriane-bonjean.fr">
                https://syriane-bonjean.fr
            </a>
        </p>

        <h5 class="text-center">Conditions d'utilisation</h5>
        <p>
            Le site accessible par les url suivants : <a href="https://www.courcaillez.fr">www.courcaillez.fr</a> est exploité dans le respect de la législation française.
            L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.
            Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Courcaillez !.
            Courcaillez ! ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
        </p>
        <h5 class="text-center">
            Limitation de responsabilité
        </h5>
        <p>
            Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Natural net ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
            Les photos sont non contractuelles.
            Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Courcaillez !.
        </p>
        <h5 class="text-center">
            Litiges
        </h5>
        <p>
            Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Natural net. La langue de référence, pour le règlement de contentieux éventuels, est le français.
        </p>
        <h5 class="text-center">
            Déclaration à la CNIL
        </h5>
        <p>
            Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).
        </p>
        <h5 class="text-center">
            Droit d'accès
        </h5>
        <p>
            En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de Natural net 49, Boulevard Antoine Gautier 33000 Bordeaux ou par voie électronique à l’adresse email suivante : contact@natural-net.fr.
            Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.
        </p>
        <h5 class="text-center">
            Confidentialité
        </h5>
        <p>
            Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.
        </p>
        <h5 class="text-center">
            Propriété intellectuelle
        </h5>
        <p>
            Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de Courcaillez ! à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
            Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Courcaillez !. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.

            Courcaillez ! est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.

            Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : www.courcaillez.fr, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de Courcaillez !.

            Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : contact@courcaillez.fr. Des conditions spécifiques sont prévues pour la presse.
        </p>
        <h5 class="text-center">
            Conditions de service
        </h5>
        <p>
            Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...
        </p>
        <h5 class="text-center">
            Informations et exclusion
        </h5>
        <p>
            Courcaillez ! met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de  Courcaillez !, et signaler toutes modifications du site qu'il jugerait utile. Courcaillez ! n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.
        </p>
        <h5 class="text-center">
            Cookies
        </h5>
        <p>
            Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.
        </p>
        <h5 class="text-center">
            Liens hypertextes
        </h5>
        <p>
            Les sites internet de Courcaillez ! peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.

            Courcaillez ! ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Courcaillez ! ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.

            Les utilisateurs, les abonnés et les visiteurs des sites internet de Courcaillez ! ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Courcaillez !.

            Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Courcaillez !, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Courcaillez ! se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
        </p>
        <h5 class="text-center">
            Recherche
        </h5>
        <p>
            En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que Courcaillez ! reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.
        </p>
        <h5 class="text-center">
            Précautions d'usage
        </h5>
        <p>
            Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....
        </p>
        <h5 class="text-center">
            Responsabilité
        </h5>
        <p>
            Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par Natural net apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Natural net ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.
        </p>
        <h5 class="text-center">
            Contactez-nous
        </h5>
        <p>
            Courcaillez ! est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à : contact@courcaillez.fr.
        </p>
        <div class="flex">
            <a class="button" href="{{ path('start') }}">Retour</a>
        </div>

    </div>
    {% include 'tpl-part/footer.html.twig' %}
{% endblock %}