{% extends 'base.html.twig' %}

{% block title %}Courcaillez !{% endblock %}

{% block body %}
    {% include 'tpl-part/header.html.twig' %}
        <div class="ctnr">
            <h5 class="text-center">{{ courcailletTitle }}</h5>
            <div class="flex">
                {% include 'tpl-part/courcailler.html.twig' %}
            </div>
            {% if pagination|length > 0 %}
                <div class="pagination flex">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
        </div>
    {% include 'tpl-part/footer.html.twig' %}
{% endblock %}