.courcaillet {
  width: 40%;
  padding: 20px;
  box-shadow: 0px 20px 25px 0 rgba(56, 70, 78, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}

.dropdown-content li {
  display: flex;
  flex-flow: row wrap;
  > span {
    color: #245559 !important;
  }
}

.pagination li.active {
  background-color: #ffcc00 !important;
}

@media (max-width: 600px) {
  .courcaillet {
    width: 70%;
  }
}