#cnxTitle{
  color: #ffcc00;
  width: 80%;
  margin: 0 auto -8px auto;
}
.login{
  width: 80%;
  margin: 0 auto 50px auto;
  padding: 40px;
  background-color: #ffcc00;
  box-shadow: 0 40px 54px 0 rgba(56, 70, 78, 0.4);
}

#mentionSuggest {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 40px;
  background-color: #ffcc00;
}