//Material icon declaration for self hosting
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.chip{
  background-color: rgba(255, 204, 0, 0.5) !important;
}

.ctnr{
  box-sizing:border-box;
  width:90%;
  margin: 0 auto;
  padding: 30px 0;
}
.flex{
  box-sizing:border-box;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.padding{
  box-sizing: border-box;
  padding: 30px;
}

body{
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}
p, a, ul, li, ol, button, input, label {
  font-family: 'Crete Round', serif;
}

a{
  color: #245559 !important;
  cursor: pointer;
  text-decoration: none;
}

h2{
  font-size: 30px;
  color: #245559;
  margin-bottom: 20px;
}
label {
  margin: 10px 30px 10px 0;
}

.bg-color{
  background-color: #245559;
  color: white;
}

.text-center{
  text-align: center;
}

.inline-b{
  display: inline-block;
}

hr{
  width: 100%;
  border: solid 0.5px #245559;
  margin: 0;
}

.flash-success{
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #245559;
  color: white;
}

.button{
  background-color: rgba(255,255,255, 0.3);
  border: none;
  color: #245559;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(255,255,255, 0.8);
  }
}

.btn-suppr{
  background-color: rgba(116, 0, 0, 0.1);
  border: none;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  transition: all 0.7s ease;
  //&::before{
  //  content: "";
  //  display: inline-block;
  //  background: url("/public/uploads/pictos/trash-can.png") no-repeat;
  //  width: 20px;
  //  height: 20px;
  //  float: left;
  //  margin: 0 6px 0 0;
  //}
  &:hover {
    background-color: rgba(116, 0, 0, 1);
    color: white !important;
  }
  a {
    color: rgba(116, 0, 0, 0.5) !important;
  }
}

.hide{
  visibility: hidden;
}

//searchBox css
nav{
  background-color: #245559 !important;
}
#searchPopUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
  padding: 50px;
  transition: visibility ease 1s;
}

#searchBoxCloseBtn {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
  }
}