{% extends 'emails/baseEmails.html.twig' %}
 {% block stylesheets %}
     <style type="text/css">
         body {
             padding: 50px;
             background-color: #ffcc00;
             margin: 0;
             box-sizing: border-box;
         }
         h1{
             margin: 50px 0;
             font-family: sans-serif;
             font-size: 30px;
             color: #245559;
         }
         p{
             background-color: white;
             border-radius: 10px;
             padding: 30px;
         }
         a {
             text-decoration: none;
             background-color: #245559;
             border: none;
             color: white;
             padding: 10px 15px;
             margin: 20px 0 0 20px;
             text-align: center;
             display: inline-block;
             font-size: 16px;
             border-radius: 40px;
         }

     </style>
 {% endblock %}
{% block body %}
    <h1>Vous souhaitez réinitialiser de votre mot de passe ?</h1>
    <p>
        Suivez ce lien :<br>
        <br>
        <a href="http://127.0.0.1:8000{{ path('reset-password', { 'token': userToken, 'userId' : userId }) }}">Modifier mon mot de passe</a>
        <br>
        <br>
        Si vous n'êtes pas à l'origine de cette demande, ne faites rien, tout est sous contrôle !
    </p>
{% endblock %}