{% extends 'emails/baseEmails.html.twig' %}
 {% block stylesheets %}
     <style type="text/css">
         body {
             padding: 50px;
             background-color: #ffcc00;
             margin: 0;
             box-sizing: border-box;
         }
         h1{
             margin: 50px 0;
             font-family: sans-serif;
             font-size: 30px;
             color: #245559;
         }
         p{
             background-color: white;
             border-radius: 10px;
             padding: 30px;
         }
         a {
             text-decoration: none;
             background-color: #245559;
             border: none;
             color: white;
             padding: 10px 15px;
             margin: 20px 0 0 20px;
             text-align: center;
             display: inline-block;
             font-size: 16px;
             border-radius: 40px;
         }

     </style>
 {% endblock %}
{% block body %}
    <h1>Vous avez créé un compte sur Courcaillez !</h1>
    <p>
        Bienvenue dans la communauté !
        Avant de vous connecter, vous devez activer votre compte, suivez le liens ci-dessous :
        <a href="http://127.0.0.1:8000{{ path('activate', { 'token': userToken, 'userId' : userId }) }}">Activer mon compte</a>
    </p>
{% endblock %}