{% for courcaillet in pagination %}

    <div class="courcaillet">
        <div class="flex">
            <img class="profilPic" width="40" height="40" src="{{ vich_uploader_asset( courcaillet.userNbr, 'avatarFile' ) | imagine_filter('avatar') }}">
            <h4><a href="{{ path('profile', { id: courcaillet.userNbr.id }) }}">@{{ courcaillet.userNbr.pseudo }}</a></h4>
            {% if app.user.id == courcaillet.userNbr.id %}
                <button class="btn-suppr" type="submit"><a href="{{ path('deleteCourcaillet', { courcailletId: courcaillet.id} ) }}">Supprimer</a></button>
            {% endif %}
        </div>
        <p class="">Le {{ courcaillet.date|date("d/m/Y") }} à {{ courcaillet.date|date("H:i:s") }}s</p>
        <hr>
        <div class="">
            <p class="text-center">{{ courcaillet.content }}</p>
        </div>
        <hr>
        <div>
{#            Mentions#}
            {% if courcaillet.mention|length > 0 %}
                <p class="text-center">Mentions :
                    {% for person in courcaillet.mention %}
                        <a href="{{ path('profile', { id: person.id }) }}">@{{ person.pseudo }} {% if not loop.last %}|{% endif %}</a>
                    {% endfor %}
                </p>
            {% endif %}

{#            Hashtags#}
            {% if courcaillet.hashtags|length > 0 %}
                <p class="text-center">Hashtags :
                    {% for hashTag in courcaillet.hashtags %}
                        <a href="{{ path('hashtag', { tag: hashTag.name }) }}">#{{ hashTag.name }} {% if not loop.last %}|{% endif %}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% endfor %}