{% block footer %}
<footer>
    <div class="ctnr">
        <div class="flex-column">
            <h4 class="text-center">Courcaillez !</h4>
            <a class="button" href="{{ path('rgpd') }}">Mentions légales</a>

        </div>
    </div>
</footer>
{% endblock %}