{% block header %}
    <header>
        <div class="ctnr">
            <div class="flex">
                <h5>Courcaillez !</h5>
                <img class="profilPic" src="{{ vich_uploader_asset( app.user, 'avatarFile' ) | imagine_filter('avatar')}}">
                <div>
                    <h5 class="uk-text-left">@{{ app.user.pseudo }},<br>
                        vous êtes connecté</h5>
                </div>
                <button class="button waves-effect waves-teal"><a href="{{ path('start') }}">Accueil</a></button>
                <button class="button waves-effect waves-teal"><a href="/profile/{{ app.user.id }}">Mon profil</a></button>
                <button class="button waves-effect waves-red"><a href="{{ path('app_logout') }}">Déconnexion</a></button>
                <div>
                    <a id="searchBtn" class="btn-floating btn-large waves-effect waves-yellow teal"><i class="material-icons">search</i></a>
                </div>
            </div>
        </div>
        <div id="searchPopUp" class="hide">
            <div id="searchBoxCloseBtn">
                <a class="waves-effect waves-light btn"><i class="material-icons">close</i></a>
            </div>
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required autocomplete="off">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <ul id="searchResults" class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><i class="material-icons">person</i>@Cailles</div>
{#                    Here goes the axios response in user database like chips#}
                    <div id="usersResultBox" class="collapsible-body">
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">gesture</i>#Hashtags</div>
{#                    Here goes the axios response in hashtags database like chips#}
                    <div id="hashtagResultBox" class="collapsible-body">
                    </div>
                </li>
{#                <li>#}
{#                    <div class="collapsible-header"><i class="material-icons">message</i>Courcaillets</div>#}
{#                    <div class="collapsible-body">#}
{#                        <div class="chip">#}
{#                            <img src="/{{ asset('uploads/pictos/trash-can.png') }}" alt="Contact Person">#}
{#                            <a href="{{ path('hashtag', {'tag': 'hello'}) }}">#}
{#                                Contenu du courcaillet héhé#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
    </header>
{% endblock %}